/* =========================================================
HERO ALUGUEL
========================================================= */

.aluguel-hero{

    background:
    linear-gradient(
    rgba(15,23,42,0.78),
    rgba(15,23,42,0.82)),
    url('https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?q=80&w=1400&auto=format&fit=crop');

    background-size:cover;
    background-position:center;
}

/* =========================================================
LISTAGEM
========================================================= */

.imoveis-listagem{

    padding:120px 8%;

    background:#eef2f7;
}

/* =========================================================
RESPONSIVO
========================================================= */

@media(max-width:900px){

    .imoveis-listagem{

        padding:100px 20px;
    }
}

@media(max-width:600px){

    .imoveis-listagem{

        padding:80px 20px;
    }
}

/* =========================================
BADGE FINALIDADE
========================================= */

.badge-finalidade{

    position:absolute;

    top:15px;
    left:15px;

    background:#25d366;

    color:white;

    padding:8px 14px;

    border-radius:999px;

    font-size:12px;

    font-weight:700;

    text-transform:uppercase;

    z-index:2;

}